#contenedor-pokes {
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 2%;
}
.pokemons {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.info {
    font-weight: 900;
    font-size: 90%;
}
img {
    width: 100%;
}