#contenedor-pokes {
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row;
    gap: 16px;
    padding: 16px;
}

.pokemons {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 220px;
    justify-self: center;
}

.pokemons img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.pokemons p {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
